.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 76px;

   background: rgba(255, 255, 255, 0.75);
   backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.navbar-inner{
    max-width: 1232px;
    height: 100%;

    margin: 0;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-links{
    display: flex;
    gap: 36px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li{
    font-size: 16px;
    font-weight: 500;
    color: #334155;
    cursor: pointer;
}
