.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 76px;

   /* background: rgba(255, 255, 255, 0.75);   solid color for navbar*/

   background: transparent;
   /* backdrop-filter: blur(10px); */
   backdrop-filter: none;
   transition: background 0.3s ease, box-shadow 0.3s ease;

    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    z-index: 1000;
}

.navbar.scrolled {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);              
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar-inner{
    width: auto;
    height: 100%;

    margin: 0;
    padding: 0 36px;

    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-links{
    display: flex;
    gap: 36px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li{
    font-size: 18px;
    font-weight: 550;
    color: #334155;
    cursor: pointer;

    transition: color 0.2s ease;
}

.nav-links li:hover{
    color: #0f172a;
}